/* styles.css */

/* General settings for the body */
body {
    margin: 0;
    padding: 0;
}

/* Ensure figures and images fit within their container */
figure, img {
    max-width: 100%;  /* Limit width to container */
    height: auto;     /* Maintain aspect ratio */
    overflow: hidden; /* Hide overflow */
}

/* Adjusting output area for code chunks */
div.output_area {
    max-width: 100%; /* Ensure output fits within the container */
    overflow-x: auto; /* Allow scrolling if necessary, but aim to fit */
}


/* Adjusting custom container */
.container {
    max-width: 100%;     /* Set max-width for the custom container */
    overflow-x: hidden;  /* Prevent horizontal scrolling */
}